<h1>Your Profile</h1>

<table class="table table-striped table-condensed">
    <tbody>
        <tr>
            <td>Name: </td>
            <td>Murray Spork</td>
        </tr>
        <tr>
            <td>Member Level: </td>
            <td>Gold</td>
        </tr>
        <tr>
            <td>Last Activity</td>
            <td>2 days ago</td>
        </tr>
    </tbody> 
</table> 