<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Backbone with Zurb Foundation Example</title>

  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/app.css">
  <!-- <script src="http://jsconsole.com/remote.js?D1223D1E-75E5-4B57-BB64-A14FD4D52052"></script> -->
  <script src="js/vendor/custom.modernizr.js"></script>
  <script src="js/vendor/require-2.1.1.js"></script>


  <script>
  // Configure the AMD module loader
  requirejs.config({
    // The path where your JavaScripts are located
    baseUrl: '',
    // Specify the paths of vendor libraries
    paths: {
      // jquery:                 'vendor/jquery-1.9.1',
      zepto:                  "js/vendor/zepto", 
      underscore:             'js/vendor/underscore-1.4.3',
      backbone:               'js/vendor/backbone-1.0.0',
      handlebars:             'js/vendor/handlebars-1.0.rc.1',
      text:                   'js/vendor/require-text-2.0.3',
      // foundation
      foundation:           'js/foundation/foundation',
      foundationtopbar:     'js/foundation/foundation.topbar'
    },
    // Underscore and Backbone are not AMD-capable per default,
    // so we need to use the AMD wrapping of RequireJS
    shim: {
      underscore: {
        exports: '_'
      },
      backbone: {
        deps: ['underscore'],
        exports: 'Backbone'
      },
      handlebars: {
        exports: 'Handlebars'
      },
      zepto: {
        exports: 'Zepto'
      },
      foundation: {
          deps: ["zepto"],
          exports: "foundation"
      },
      foundationtopbar: {
          deps: ["zepto", "foundation"]
      }
    }
    // For easier development, disable browser caching
    // Of course, this should be removed in a production environment
    , urlArgs: 'bust=' +  (new Date()).getTime()
  });

  // Bootstrap the application
  require(['js/mobile/application'], 
    function(App) {
      window.app = new App();
      console.log("App instantiated");
  });

  </script>

</head>
<body>
    <nav id="nav-container" class="top-bar">
      <ul class="title-area">
        <li class="name" ><h1><a href="/mobi" title='mspork'>Site</a></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>  
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li><a href="#">Home</a></li>
          <li class="divider"></li>
          <li><a href="#notes">Notes</a></li>
          <li class="divider"></li>
        </ul>
      </section>          
    </nav>

    <div id="content-container" class="row"></div>
  
</body>
</html>
