
<div class="row">
    <div class="small-4 columns">
        <h4>Edit Note</h4>
    </div>
    <div class="small-8 columns">
        <div class="right">
            <div class="button-bar right">
                <ul class="button-group right">
                    <li><a href="#notes/{{id}}" class="button small secondary">
                        <i class="icon-remove icon-2x"></i>
                    </a></li>
                    <li><a href="#notes/{{id}}/save" class="button small" id='save'>
                        <i class="icon-save icon-2x"></i>
                    </a></li>
                </ul>
        </div>
        </div>        
    </div>
</div>

<div class="row centered">
<div class="small-12 columns">
    
<form class="custom" id='note'>
    <fieldset>
        {{! <legend> }}
            {{! <span>Note Details</span> }}
        {{! </legend> }}
        <label>Text</label>
        <input type="text" name="text" value="{{text}}">
        <label>Reminder every</label>
        <input type="text" name="remindInterval" value="{{remindInterval}}">
    </fieldset>
</form>
</div>
</div>
