<form class="custom">
    <fieldset disabled >
        <legend>Note Details</legend>
        <label>Text</label>
        <input type="text" value="{{text}}">
        <label>Reminder every</label>
        <input type="text" value="{{remindInterval}}">
    </fieldset>
</form>
