<form class="custom">
    <fieldset disabled>
        <legend>Note Details</legend>
        <div class="row">
            <div class="large-12 columns">
                <label>Text</label>
                <input type="text" value="{{text}}" style="border-top: 1px solid #b9b9b9;border-bottom: none; border-right: none; border-left: none;background: #ebebeb;">
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Reminder every</label>
                <input type="text" value="{{remindInterval}}" style="border-top: 1px solid #b9b9b9;border-bottom: none; border-right: none; border-left: none;background: #ebebeb;">
            </div>
        </div>
    </fieldset>
</form>