<form class="custom">
    <fieldset disabled>
        <legend>Note Details</legend>
        <label>Text</label>
        <input type="text" value="{{text}}" disabled>
        <label>Reminder every</label>
        <input type="text" value="{{remindInterval}}" disabled>
    </fieldset>
</form>
