<div class="listview">
	
<ul>
		
{{#each items }}
  
  <a href="#notes/{{id}}"><li>
    <h4>{{ text }}</h4>
    <p class="desc">{{ remindInterval }} <span><i class="icon-angle-right list-item-arrow icon-2x"></i></span>
    </p>
  </li>
  </a>
{{/each}}
	</ul>

</div>

