<div class="note-content">
	
	<table class="table table-striped table-condensed">
    <tbody>
        <tr>
            <td>Note: </td>
            <td>{{text}}</td>
        </tr>
        <tr>
            <td>Remind Interval: </td>
            <td>{{remindInterval}}</td>
        </tr>
    </tbody> 
</table> 

</div>